<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MetaHorizon</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css} "/>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.js"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.js"></script>
</head>
<body>
<div th:include="fragments/header::header"></div>
<div th:include="fragments/menu::menu"></div>
<div class="container" id="pageLoader"></div>
<div th:include="fragments/footer::footer"></div>
</body>
</html>