<!DOCTYPE html>
<div lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatable/buttons.dataTables.min.css}"/>
    <script src="/js/jquery.dataTables.min.js"/>
    <script src="/js/js-for-user.js"/>
    <script src="/js/datatable/buttons.flash.min.js"></script>
    <script src="/js/datatable/buttons.html5.min.js" th:src="@{/js/datatable/buttons.html5.min.js}"></script>
    <script src="/js/datatable/buttons.print.min.js" th:src="@{/js/datatable/buttons.print.min.js}"></script>
    <script src="/js/datatable/dataTables.buttons.min.js" th:src="@{/js/datatable/dataTables.buttons.min.js}"></script>
    <script src="/js/datatable/jszip.min.js" th:src="@{/js/datatable/jszip.min.js}"></script>
    <script src="/js/datatable/pdfmake.min.js" th:src="@{/js/datatable/pdfmake.min.js}"></script>
    <script src="/js/datatable/vfs_fonts.js" th:src="@{/js/datatable/vfs_fonts.js}"></script>
    <table id="usertab" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>UserName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Address</th>
            <th>Type</th>
        </tr>
        </thead>
    </table>
</div>